html {
    font-size: 16px;
    background-color: #a8a8a8;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main>* {
    margin: 15px 0px 15px 0px;
}

img {
    max-width: 100%;
}

.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-index {
    background-image: url(/images/panellarge.jpg);
    background-size: cover;
}


h1 {
    background-color: rgba(168, 168, 168, .75);
    padding: 10px;
    font-size: 5rem;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 15px;
    display: flex;
    justify-content: center;
}

li {
    /* display: inline; */
    padding: 10px;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;

}

p a {
    text-decoration: underline;
    color: black;
}

main {
    margin: 40px 10% 40px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

nav {
    background-color: #ECA654;
    width: 100%;
    position: fixed;
    border-bottom: 2px solid black;
}


.info-text,
.savings-text,
.manu-text,
.reducc-text,
.trans-text {
    width: 60%;
    background-color: #ECA654;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

/* .info-img {
    width: 38%;
    padding: 5px;
    border: 5px;
    border-style: solid;
    border-color: #ECA654;
    background-color: white;
} */

.solar-info,
.manufacturing,
.transport,
.reduction {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.environment-text {
    background-color: #ECA654;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

p {
    font-size: 1.5rem;
}

.savings {
    display: flex;
    justify-content: space-between;
}
.trans-img {
    width: 38%;
    background-color:  rgba(0, 0, 0, 0.5);
    padding: 5px;
    height: fit-content;
}
.savings-img,
.info-img,
.manu-img,
.reducc-img {
    width: 38%;
    border: 5px;
    border-style: solid;
    border-color: #ECA654;
    background-color: white;
    border: 5px solid rgba(0, 0, 0, 0.5);
    height: fit-content;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #ECA654;
    align-items: center;
    border-top: 2px solid black ;
}

footer p {
    font-size: 1.2rem;
}

footer>* {
    width: 30%;
}

.nav {
    display: flex;
    flex-direction: column;
}

.nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.nav a {
    text-decoration: underline;
}

/* second page */

.hero-panels {
    background-image: url("/images/alternative-g9abaef926_1280.jpg");
    background-size: cover;
}


.types {
    display: flex;
    justify-content: space-between;
}

.types-text {
    width: 50%;
    background-color: #ECA654;
    padding: 15px;
}

.types div:not(.types-text) {
    width: 23%;
    height: 100%;
    border: 5px solid rgba(0, 0, 0, 0.5);
}

.types img {
    height: 100%;
    
}

table {
    padding: 5px;
    width: 100%;
    
}

td, th {
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    background-color: #ECA654;
}

.efficiency-text, 
.cost-text {
    width: 49%;
    background-color: #ECA654;
    padding: 15px;
}

.table {
    width: 100%;
}

td:first-child {
    font-weight: bold;
}

[class$="text"] {
    border: 5px solid rgba(0, 0, 0, 0.5);
}

/* third page */

.hero-env {
    background-image: url("../images/factory-gead335f18_1280.jpg");
    background-size: cover;
    background-position: center;
}