html {
    font-size: 16px;
    background-color: #a8a8a8;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-y: overlay;
}

::-webkit-scrollbar {
    width: 10px;
    
}

::-webkit-scrollbar-thumb {
    background: #ECA654; 
    border-radius: 10px;
    border: 2px solid black;
    opacity: 0;
}

::-webkit-scrollbar-thumb:hover {
    background: #e78d27;
}

main>* {
    margin: 15px 0px 15px 0px;
}

img {
    max-width: 100%;
}

.hero {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-index {
    background-image: url(/images/panellarge.jpg);
    background-size: cover;
}


h1 {
    text-shadow: 0px 0px 10px white;
    padding: 10px;
    font-size: 5rem;
    text-align: center;
    
}

ul {
    list-style-type: none;
    padding: 15px;
    display: flex;
    justify-content: center;
}

li {
    padding: 20px;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;

}

p a {
    text-decoration: underline;
    color: black;
}

main {
    margin: 40px 10% 40px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: #ECA654;
    width: 100%;
    position: fixed;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}


.info-text,
.savings-text,
.manu-text,
.reducc-text,
.trans-text {
    width: 70%;
    background-color: #ECA654;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.75rem;
}

/* .info-img {
    width: 38%;
    padding: 5px;
    border: 5px;
    border-style: solid;
    border-color: #ECA654;
    background-color: white;
} */

.solar-info,
.manufacturing,
.transport,
.reduction,
.savings {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.environment-text {
    background-color: #ECA654;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

p {
    font-size: 1.5rem;
}

.savings {
    display: flex;
    justify-content: space-between;
}

.trans-img {
    width: 28%;
    background-color:  rgba(0, 0, 0, 0.5);
    padding: 5px;
    height: fit-content;
}

.savings-img,
.info-img,
.manu-img,
.reducc-img {
    width: 28%;
    border: 5px;
    border-style: solid;
    border-color: #ECA654;
    background-color: white;
    border: 5px solid rgba(0, 0, 0, 0.5);
    height: fit-content;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #ECA654;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

footer p {
    font-size: 1.2rem;
}

footer>* {
    width: 30%;
}

.nav {
    display: flex;
    flex-direction: column;
}

.nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.nav a {
    text-decoration: underline;
}

/* second page */

.hero-panels {
    background-image: url("/images/alternative-g9abaef926_1280.jpg");
    background-size: cover;
}


.types {
    display: flex;
    justify-content: space-between;
}

.types-text {
    width: 50%;
    background-color: #ECA654;
    padding: 15px;
}

.types div:not(.types-text) {
    width: 23%;
    height: 100%;
    border: 5px solid rgba(0, 0, 0, 0.5);
}

.types img {
    height: 100%;
    
}

table {
    width: 100%;
}

td, th {
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    background-color: #ECA654;
    font-size: 1.5em;
}

.efficiency-text, 
.cost-text {
    width: 49%;
    background-color: #ECA654;
    padding: 15px;
}

.panels-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.table {
    width: 100%;
    align-self: center;
    display: flex;
}

td:first-child {
    font-weight: bold;
}

[class$="text"]:not(.panels-text) {
    border: 5px solid rgba(0, 0, 0, 0.5);
}

/* third page */

.hero-env {
    background-image: url("../images/factory-gead335f18_1280.jpg");
    background-size: cover;
    background-position: center;
}

/* mobile*/

@media only screen and (max-width: 1400px) {
    p {
        font-size: 1em;
    }

    h2 {
        font-size: 1.25rem;
        margin-bottom: 5px;
    }

    nav a {
        font-size: 1em;
    }

    td, th {
        font-size: 1em;
    }

    footer a {
        font-size: 1em;
    }
}

@media only screen and (max-width: 900px) {

    td, th {
        font-size: .75em;
    }

    .savings-img,
    .info-img,
    .manu-img,
    .reducc-img {
        width: 80%;
        border: 5px;
        border-style: solid;
        border-color: #ECA654;
        background-color: white;
        border: 5px solid rgba(0, 0, 0, 0.5);
        height: fit-content;
        order: -1;
        margin: 0 0 5px 0;
    }

    .trans-img {
        width: 80%;
        background-color:  rgba(0, 0, 0, 0.5);
        padding: 5px;
        height: fit-content;
        order: -1;
        margin: 0 0 5px 0;
    }

    .solar-info,
    .manufacturing,
    .transport,
    .reduction,
    .savings {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info-text,
    .savings-text,
    .manu-text,
    .reducc-text,
    .trans-text {
        width: 100%;
        background-color: #ECA654;
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
    }

    .types {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .types-text {
        width: 100%;
        background-color: #ECA654;
        padding: 15px;
    }
    
    .types div:not(.types-text) {
        width: 49%;
        height: 25%;
        border: 5px solid rgba(0, 0, 0, 0.5);
        order: -1;
        margin: 0 0 5px 0;
        align-self: stretch;
    }

    .types img {
        width: 100%;
        height: 100%;
    }

    .efficiency-text {
        width: 100%;
        margin: 0 0 5px 0;
    }

    .cost-text {
        width: 100%;
    }

    h1 {
        font-size: 3rem;
    }

    li {
        padding: 10px;
    }

    td:first-child,
    th:first-child {
        display:none;
    }

    table {
        width: 100%;
    }

    footer {
        flex-wrap: wrap;
        padding: 10px;
    }

    footer div {
        width: 100%;
    }

    .nav ul {
        flex-direction: row;
    }
}